:root{
    --header:#2D2D2F;
    --services:#F7F7F7;
    --feaurure:#F1F1F1;
    --awosem:#2D2D2F;
    --customer:#F1F1F1;
    --blog:#F7F7F7;
    --footer:#333333;
    --font-brand:calibri;
    --font-specialy:gabriola;
    --font-button:Arial;
}
/**----------BASE------------------**/
.container{
    width: 1200px;
    margin: auto;
}
a{
    text-decoration: none;
}
.clearfix{
    clear: both;
    float: none;
}

/**---------- END BASE--------------**/

/**----------  HEADER1--------------**/
header{
    background-color: var(--header);
    /*width:1400px;*/
    height:100px;
}
header .container{}
header .container .logo{
    float: left;
    width: 50%;
}
header .container .logo h1{}
header .container .logo h1 a{}
header .container .logo h1 a img{
    width: 70px;
    margin-top: 20px;
}
/*-------header2-----*/
.menu{
    float: right;
    width: 50%;
}

.menu ul{
    margin-top: 30px;
}
.menu li {
    display: inline-block;
    position: relative;

}
.menu li a{
    text-decoration: none;
    color: white;
    padding: 5px 15px;
    transition: all ease-in-out 0.7s;
    font-size: 10px;
    font-family: Arial;
}
.menu li a:hover {
    background-color: #b7faff;
    color: black;
    cursor: pointer;
}

.menu li ul{
    display: none;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 10px;
}
.menu li:hover ul{
    display: block;
}
.menu li ul li{
    display: block;
    position: relative;
}
.menu li ul li a{
    display: block;
    width: 100%;
    background-color: aliceblue;
    border: 1px solid white;
    color: #2D2D2F;
}

/**---------- END HEADER2--------------**/
/**---------- background--------------**/
.main {
    position: relative;
    text-align: center;
    color: white;
}
.main img{
    width:100%;
    overflow-x: unset;
}

.brand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.5cm;
}
.brand h2{
    font-weight: 900;
    font-size: 40px;
    font-family: var(--font-brand);
}
.brand h4{
    font-size: 28px;
    font-family: var(--font-specialy);
}
.brand button{
    font-size: 15px;
    border-radius: 5px;
    border: solid 1px white;
    padding: 15px 30px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-family: var(--font-button);
}
button:hover{
    background-color: var(--header);
    color: white;
    border: 1px white  double;
}
/**---------- END background--------------**/
/**----------content-------------------**/
.content{
    background-color: var(--services);
    height: 450px;
}
.bheader{
    text-align: center;
}
.bheader h3{
    padding-top: 50px;
    font-weight: bold;
    font-family: var(--font-brand);
    color: #2D2D2F;

}
.bheader h5{
    margin-top: 10px;
    font-family: var(--font-specialy);
    font-size: 25px ;
    color: grey;
}

.box{
    width:20%;
    display: inline-block;
    margin: 5px 10px;
    padding: 10px;
}
.box img{
    padding:70px 70px 10px 90px;
}
.box hr{
    width: 30px;
}
.box h4{
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    font-family: var(--font-brand);
    color: #2D2D2F;

}
.box p{
    text-align: center;
    padding-top: 10px;
    font-family: var(--font-brand);
    color: grey;
    font-size: 13px;
    line-height: 17px;
}

/**---------- END content--------------**/
/**----------  feature-----------------**/
.feature{
    background-color: var(--feaurure);
    height: 900px;
}
.cheader {
    text-align: center;
}
.cheader h3{
    padding-top: 60px;
    font-family: var(--font-brand);
    font-weight: 900;
    font-size: 18px;
}
.cheader h5{
    margin-top: 20px;
    font-family:var(--font-specialy) ;
    color: grey;
    font-size: 23px;
}

.ccontent{
    width: 1000px;
    margin: auto;
    padding-top: 20px;
}
.ccontent img{
    width: 980px;
}
.ccontent  p{
    text-align: center;
    font-family: var(--font-brand);
    color: grey;
    font-size: 19px;
    line-height: 25px;
}

 #start{
    background-color: #48474D;
    height: 40px;
    border-radius: 5px;
    margin-left: 310px;
     font-family: var(--font-button);
     border: none;
     margin-top: 30px;
     font-size: 15px;
 }
#start a{
    color: white;
    padding: 20px 20px 20px 20px;
}

#view{
    background-color:#82C5BE;
    height: 40px;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 15px;
    margin: 10px;
}
#view a{
    color: white;
    padding: 20px 20px 20px 20px;

}

/**---------- END feature--------------**/
/**----------  awesome--------------**/
.dcontent {
    background-color: var(--awosem);
    height: 600px;
}


.dcontent .right{
    width: 50%;
    position: relative;
    top: 80px;
    left: 600px;
}
.dcontent .right img{
    margin: 3px;
}
.dcontent .left {
    width: 50%;
    position: relative;
    bottom: 370px;

}
.dcontent .left img{
    margin: -5px 0 10px 310px;
}
.description{
    color: white;
    position: absolute;
    bottom: 170px;
    left: 20px;
    top: 5px;

}
.description h3{
    font-family: var(--font-brand);
    font-weight: 600;
    color: #B0B0B2;
    margin: 0 10px;
}
.description h5 {
    width: 200px;
    margin: 10px 10px;
    font-family: var(--font-specialy);
    font-size: 20px;
    line-height: 20px;
    color: grey;
}
.description p {
    width: 250px;
    line-height: 1.5;
    margin: 40PX 10px;
    font-family: var(--font-brand);
    color: grey;
    font-size: 15px;
    text-align: left;

}
.description button{
    font-size: 13px;
    border-radius: 5px;
    border: solid 1px grey;
    padding: 15px 30px;
    cursor: pointer;
    background-color: transparent;
    color: grey;
    margin: 1px 10px;
}
.description button:hover{
    color: #b7faff;
    font-family: var(--font-specialy);
    transition: all ease-in-out 0.8s; ;
}
/**---------- END awesome--------------**/
/**----------  customer--------------**/
.customer{
    background-color: var(--customer);
}
.talk{
    width:400px;
    height: 100px;
    background-color: blanchedalmond;
    position: relative;
    left:75%;
    bottom: 100px;

}
.talk:before{
     content: '';
     position: absolute;
     right: 100%;
     top: 20px;
     border-top: 10px solid transparent;
     border-right: 8px solid blanchedalmond;
     border-bottom: 10px solid transparent;
 }
#talk2{
    width:300px;
    height: 100px;
    background-color: brown;
    position: relative;
    left:150px;
    bottom: 10px;
}
#talk2:before{
    content: '';
    position: absolute;
    left: 100%;
    top: 20px;
    border-top: 10px solid transparent;
    border-left: 8px solid brown;
    border-bottom: 10px solid transparent;
}
.customer .dheader{
    text-align: center;
    padding-top: 50px;
    line-height: 20px;
}

.customer .dheader h3{
    font-family: var(--font-brand);
    font-weight: 900;
    color: var(--header);
    font-size: 20px;
    line-height: 1cm;
}
.customer .dheader h5{
    font-family: var(--font-specialy);
    font-size: 20px;
    color: grey;
}

.customer .case{
    width: 900px;
}
.customer .case .hcustomer{
    width: 5px;
    height: 500px;
    color: #b7faff;
    border-radius: 5px;
    position: relative;
    left:15%;
    bottom:220px;
}

.customer .case .name{
    position: relative;
    left: 40%;
    bottom: 520px;

}
.customer .case .second{
    position: relative;
    left: 42%;
    bottom: 510px;
}
.customer .case img{
    position: relative;
    left: 62%;
    z-index: 1;
    bottom: 100px;
}
.customer .case .nazar {
    width: 300px;
   position: relative;
    left: 75%;
    bottom: 505px;
    z-index: 1;
}
.customer .case .nikolas {
    width: 300px;
    position: absolute;
    left: 15%;
    z-index: 1;
}
.customer .case .name2 {
    position: relative;
    left: 74%;
    bottom:200px;

}
.customer .case .semat {
    position: relative;
    left: 74%;
    bottom:200px;

}
/**---------- END customer--------------**/


