:root{
    --header:#2D2D2F;
    --services:#F7F7F7;
    --feaurure:#F1F1F1;
    --awosem:#2D2D2F;
    --customer:#F1F1F1;
    --blog:#F7F7F7;
    --footer:#333333;
    --font-brand:calibri;
    --font-specialy:gabriola;
    --font-button:Arial;
}
/**----------BASE------------------**/
.container{
    width: 1200px;
    margin: auto;
}
a{
    text-decoration: none;
}
.clearfix{
    clear: both;
    float: none;
}

/**---------- END BASE--------------**/

/**----------  HEADER1--------------**/
header{
    background-color: var(--header);
    /*width:1400px;*/
    height:100px;
}
header .container{}
header .container .logo{
    float: left;
    width: 50%;
}
header .container .logo h1{}
header .container .logo h1 a{}
header .container .logo h1 a img{
    width: 70px;
    margin-top: 20px;
}
/*-------header2-----*/
.menu{
    float: right;
    width: 50%;
}

.menu ul{
    margin-top: 30px;
}
.menu li {
    display: inline-block;
    position: relative;

}
.menu li a{
    text-decoration: none;
    color: white;
    padding: 5px 15px;
    transition: all ease-in-out 0.7s;
    font-size: 10px;
    font-family: Arial;
}
.menu li a:hover {
    background-color: #b7faff;
    color: black;
    cursor: pointer;
}

.menu li ul{
    display: none;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 10px;
}
.menu li:hover ul{
    display: block;
}
.menu li ul li{
    display: block;
    position: relative;
}
.menu li ul li a{
    display: block;
    width: 100%;
    background-color: aliceblue;
    border: 1px solid white;
    color: #2D2D2F;
}

/**---------- END HEADER2--------------**/
/**---------- background--------------**/
.main {
    position: relative;
    text-align: center;
    color: white;
}
.main img{
    width:100%;
    overflow-x: unset;
}

.brand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.5cm;
}
.brand h2{
    font-weight: 900;
    font-size: 40px;
    font-family: var(--font-brand);
}
.brand h4{
    font-size: 28px;
    font-family: var(--font-specialy);
}
.brand button{
    font-size: 15px;
    border-radius: 5px;
    border: solid 1px white;
    padding: 15px 30px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-family: var(--font-button);
}
button:hover{
    background-color: var(--header);
    color: white;
    border: 1px white  double;
}
/**---------- END background--------------**/
/**----------content-------------------**/
.content{
    background-color: var(--services);
    height: 450px;
}
.bheader{
    text-align: center;
}
.bheader h3{
    padding-top: 50px;
    font-weight: bold;
    font-family: var(--font-brand);
    color: #2D2D2F;

}
.bheader h5{
    margin-top: 10px;
    font-family: var(--font-specialy);
    font-size: 25px ;
    color: grey;
}

.box{
    width:20%;
    display: inline-block;
    margin: 5px 10px;
    padding: 10px;
}
.box img{
    padding:70px 70px 10px 90px;
}
.box hr{
    width: 30px;
}
.box h4{
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    font-family: var(--font-brand);
    color: #2D2D2F;

}
.box p{
    text-align: center;
    padding-top: 10px;
    font-family: var(--font-brand);
    color: grey;
    font-size: 13px;
    line-height: 17px;
}

/**---------- END content--------------**/
